.mr-1
{
    margin-right: 1rem;
}

.mt-1
{
    margin-top: 1rem;
}

.mb-1
{
    margin-bottom: 1rem;
}

.bold
{
    
    font-weight: bold;
}

.table-movie a svg
{
    color: black;
}

.pointer
{
    
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}